apiVersion: apps/v1 
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-pod
  template:
    metadata:
      labels:
        app: my-pod
    spec:
      containers:
      - name: my-pod
        image: bikashpanda1998/mycentos:latest
        ports:
        - containerPort: 80
